body{
	padding-top:50px;
	  color: #444;
    background-color: #f6f6f6;
    overflow-x: hidden;

}

.jumu{
	text-align:center;
	background: url('../img/星空1.jpg') no-repeat;
	background-size:cover;
	color:#CEECF5;
	padding:150px 0;
}
.title{
	font-size:35px;
}
.zhaiyao{
	font-size:25px;
}
.author{
	margin:20px 0;
}
.footer{
	text-align:center;
	font-size:20px;
	color:#fff;
}
.footer p{
	line-height: 50px;
}
.daohangbeijing{
	background-color:#CEECF5;

}
.weibu{
		background-color:#CEECF5;
}
.weizhi{
	margin-left: 13%;
	width: 620px;
}
.weizhi1{
		margin-left: 13%;
	width: 800;
	padding-top: 20px;
}
.tu1{
		background: url('../img/1.jpg') no-repeat;
		width: 300px;
		height: 187px;
		float: left;
	margin-left: 100px;
	padding-left: 100px;

}
.tu2{
		background: url('../img/2.jpg') no-repeat;
		width: 300px;
		height: 187px;
		float: left;
	padding-right: 20px;
	margin-bottom: 86px;
	margin-right: 100px;

}
.tu3{
		background: url('../img/3.jpg') no-repeat;
		width: 300px;
		height: 187px;
		float: left;
	margin-left: 100px;
	margin-top: 86px;

}
.tu4{
		background: url('../img/4.jpg') no-repeat;
		width: 300px;
		height: 187px;
		float: left;
	margin-left: 100px;
	margin-top: 86px;

}
.tu5{
		background: url('../img/5.jpg') no-repeat;
		width: 300px;
		height: 200px;
		float: left;
	margin-left: 100px;
	margin-top: 86px;

}
.tu11{
	width: 600px;
	height: 200px
}
.h1{
	width: 800px;
	height: 400px;
}
.clear{
	clear: both;
}
